<div class="uk-margin schema-form-submit {{form.htmlClass}}">
  <input type="submit"
         class="uk-button {{ form.style || 'uk-button-primary' }} {{form.fieldHtmlClass}}"
         value="{{form.title}}"
         ng-disabled="form.readonly"
         ng-if="form.type === 'submit'">
  <button class="uk-button {{ form.style || 'uk-button-default' }}"
          type="button"
          ng-click="buttonClick($event,form)"
          ng-disabled="form.readonly"
          ng-if="form.type !== 'submit'">
      <span ng-if="form.icon" class="{{form.icon}}"></span>
      {{form.title}}
  </button>
</div>
